.add-todo-input{
width: 300px;
padding: 10px;
border-bottom: 2px solid;
outline: none;
margin-top: 3rem;
}

.add-todo-button{
    padding: 10px;
    background-color: black;
    color:rgb(5, 204, 255);
    cursor: pointer;
    font-weight: bolder;
}